@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: "Montserrat", sans-serif;
}
.BannerSlide .bg {
  background: rgb(150, 233, 251);
  background: linear-gradient(
    90deg,
    rgba(150, 233, 251, 1) 50%,
    rgba(171, 236, 214, 1) 100%
  );
}
.PricingPlan:focus button {
  background-color: #23a6f0;
}

@layer components {
  .blue-button {
    @apply font-bold text-lg text-white bg-secondary w-fit border-solid rounded-[5px] px-7 py-3;
  }
  .form-group {
    @apply flex flex-col;
  }
  .form-label {
    @apply text-lg;
  }
  .form-input {
    @apply mb-1 mt-4 px-4 py-3 border border-solid border-white rounded-md shadow-sm;
  }
  .form-footnote {
    @apply text-accent text-xs leading-7;
  }
}