@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: "Montserrat", sans-serif;
}
.BannerSlide .bg {
  background: rgb(150, 233, 251);
  background: linear-gradient(
    90deg,
    rgba(150, 233, 251, 1) 50%,
    rgba(171, 236, 214, 1) 100%
  );
}
.PricingPlan:focus button {
  background-color: #23a6f0;
}